.padding1 {
	width: auto;
}

.padding2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.row h1{
	background: pink;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial Cambria;
    font-style: italic;

}
.card img{
	width: 350px;
	height: 350px;
	box-shadow: 0 8px 8px -6px black;
}

.card img:hover{
    box-shadow: none;
    transition: linear 0.3s;
}
.modal-body img{
	width: 500px;
	height: 300px;
}

.modal-footer p{
	text-align: justify;
	font-family: Arial Cambria;
	font-style: italic;
	font-weight: bold;
}
